
body{
    background: none;
}
html{
    background: url("../img/5.\ Page.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
}
.circle{
    top: 93.5%;
}
.container-lounger{
    height: auto;
}
.hero{
    margin: 20vh auto;
    width: 30vw;
}
.hero img{
    width: 30vw;
}
.info{
    text-align: -webkit-center;
}
.info p{
    margin-top: 20px;
    font-size: 16px;
}
.btn{
    margin-top: 30px;
    display: inline-block;
    background: var(--rosa);
    color: var(--grau);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
}
@media screen and (max-width: 412px){
.container-lounger {
    height: 100%;
}
}